In [2]:
#Importando as bibliotecas

import pandas as pd
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite:///banco.db', echo=True)
df = pd.read_csv('../basestratadas/arrecadacao-estadov2.csv', sep=',', encoding="utf-8")
df.to_sql('dados', con=engine, if_exists='replace', index=False)

2024-11-23 22:43:12,053 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dados")
2024-11-23 22:43:12,053 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-23 22:43:12,053 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("dados")
2024-11-23 22:43:12,065 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-23 22:43:12,070 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-23 22:43:12,072 INFO sqlalchemy.engine.Engine
CREATE TABLE dados (
	ano BIGINT,
	"mês" TEXT,
	uf TEXT,
	tipo_imposto TEXT,
	valor FLOAT
)


2024-11-23 22:43:12,072 INFO sqlalchemy.engine.Engine [no key 0.00129s] ()
2024-11-23 22:43:12,097 INFO sqlalchemy.engine.Engine COMMIT
2024-11-23 22:43:12,167 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-23 22:43:14,829 INFO sqlalchemy.engine.Engine INSERT INTO dados (ano, "mês", uf, tipo_imposto, valor) VALUES (?, ?, ?, ?, ?)
2024-11-23 22:43:14,834 INFO sqlalchemy.engine.Engine [generated in 2.23357s] ((2000, 'Janeiro', 'AC', 'imposto sobre importação', 231.0), (2000, 'Janeiro', 'AL', 'imposto sobre importação', 475088.0), (2000, 'Janeiro', 'AM', 'imposto sobre importação', 11679405.0), (2000, 'Janeiro', 'AP', 'imposto sobre importação', 24267.0), (2000, 'Janeiro', 'BA', 'imposto sobre importação', 10476457.0), (2000, 'Janeiro', 'CE', 'imposto sobre importação', 5576921.0), (2000, 'Janeiro', 'DF', 'imposto sobre importação', 2254341.0), (2000, 'Janeiro', 'ES', 'imposto sobre importação', 31950799.0)  ... displaying 10 of 337932 total bound parameter sets ...  (2024, 'Outubro', 'SE', 'administradas por outros órgãos', 23087643.73), (2024, 'Outubro', 'TO', 'administradas por outros órgãos', 34940743.99))
2024-11-23 22:43:16,141 INFO sqlalchemy.engine.Engine COMMIT

         ano      mês  uf                     tipo_imposto         valor
0       2000  Janeiro  AC         imposto sobre importação  2.310000e+02
1       2000  Janeiro  AL         imposto sobre importação  4.750880e+05
2       2000  Janeiro  AM         imposto sobre importação  1.167940e+07
3       2000  Janeiro  AP         imposto sobre importação  2.426700e+04
4       2000  Janeiro  BA         imposto sobre importação  1.047646e+07
...      ...      ...  ..                              ...           ...
337927  2024  Outubro  RR  administradas por outros órgãos  2.913921e+07
337928  2024  Outubro  SC  administradas por outros órgãos  2.351697e+08
337929  2024  Outubro  SP  administradas por outros órgãos  2.012231e+09
337930  2024  Outubro  SE  administradas por outros órgãos  2.308764e+07
337931  2024  Outubro  TO  administradas por outros órgãos  3.494074e+07

[337932 rows x 5 columns]

In [7]:
df_lido = pd.read_sql('SELECT * FROM dados', con=engine)
df_lido

2024-11-23 22:45:31,191 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM dados")
2024-11-23 22:45:31,191 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-23 22:45:31,191 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM dados")
2024-11-23 22:45:31,191 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-23 22:45:31,191 INFO sqlalchemy.engine.Engine SELECT * FROM dados
2024-11-23 22:45:31,204 INFO sqlalchemy.engine.Engine [raw sql] ()

         ano      mês  uf                     tipo_imposto         valor
0       2000  Janeiro  AC         imposto sobre importação  2.310000e+02
1       2000  Janeiro  AL         imposto sobre importação  4.750880e+05
2       2000  Janeiro  AM         imposto sobre importação  1.167940e+07
3       2000  Janeiro  AP         imposto sobre importação  2.426700e+04
4       2000  Janeiro  BA         imposto sobre importação  1.047646e+07
...      ...      ...  ..                              ...           ...
337927  2024  Outubro  RR  administradas por outros órgãos  2.913921e+07
337928  2024  Outubro  SC  administradas por outros órgãos  2.351697e+08
337929  2024  Outubro  SP  administradas por outros órgãos  2.012231e+09
337930  2024  Outubro  SE  administradas por outros órgãos  2.308764e+07
337931  2024  Outubro  TO  administradas por outros órgãos  3.494074e+07

[337932 rows x 5 columns]

In [4]:
import sqlite3

# Conectar ao banco de dados SQLite
conn = sqlite3.connect('banco.db')

# Ler dados da tabela desejada
query = "SELECT * FROM dados"
df = pd.read_sql_query(query, conn)
df

         ano      mês  uf                     tipo_imposto         valor
0       2000  Janeiro  AC         imposto sobre importação  2.310000e+02
1       2000  Janeiro  AL         imposto sobre importação  4.750880e+05
2       2000  Janeiro  AM         imposto sobre importação  1.167940e+07
3       2000  Janeiro  AP         imposto sobre importação  2.426700e+04
4       2000  Janeiro  BA         imposto sobre importação  1.047646e+07
...      ...      ...  ..                              ...           ...
337927  2024  Outubro  RR  administradas por outros órgãos  2.913921e+07
337928  2024  Outubro  SC  administradas por outros órgãos  2.351697e+08
337929  2024  Outubro  SP  administradas por outros órgãos  2.012231e+09
337930  2024  Outubro  SE  administradas por outros órgãos  2.308764e+07
337931  2024  Outubro  TO  administradas por outros órgãos  3.494074e+07

[337932 rows x 5 columns]